$base-color:  #18252e
$primary-text-color:#84a7bd
$secondary-text-color:#7ae2dd
.About
  background-color: $base-color
  color: $primary-text-color
  border-top: 5px solid $base-color

  .About-Header-Div
    .About-Header
      margin-top: 5%
      font-size: 250%

  .About-Statement-Div
    margin: auto
    width: 50%

    .About-Statement
      text-align: center
      line-height: 2.5
      font-size: 130%

  @media screen and (max-width: 1100px)
    .About-Statement-Div
      width: 70%

    .About-Header
      margin-top: 7%

  @media screen and (max-width: 850px)
    .About-Statement-Div
      width: 85%

    .About-Header
      margin-top: 15%

  @media screen and (max-width: 600px)
    .About-Statement-Div
      width: 75%

    .About-Statement
      font-size: 100%

    .About-Header
      margin-top: 20%

  .About-Technology-Icon
    margin-top: 10%
    margin-bottom: 10%
    cursor: pointer
    color: $primary-text-color

  @media screen and ( max-width: 540px  )
    .About-Technology-Icon
      padding: 10px 25px
  @media screen and ( max-width: 540px  )
    .About-Technology-Icon
      padding: 10px 25px
