@import "../partials/_variables.sass"

.About
  background-color: $base-color
  color: $primary-text-color
  border-top: 5px solid $base-color
  border-bottom: 5px solid $base-color
  padding-top: 200px
  padding-bottom: 200px

  .About-Header-Div
    padding-top: 50px
    padding-bottom: 25px

    .About-Header
      font-size: 70px

  .About-Statement-Div
    margin: auto
    display: flex
    flex-direction: row
    width: 900px
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4)

    .About-Picture-Div
      background-color: $javascript-logo-color
      border-top-left-radius: 20px
      border-bottom-left-radius: 20px
      padding: 50px

      .About-Picture
        width: 150px
        height: 150px

      .About-Name
        color: $javascript-logo-color-darkened
        text-shadow: 2px 4px 3px rgba(0,0,0,0.1)
        font-size: 30px

    .About-Description-Div
      background-color: $dart-logo-color
      color: $base-color
      border-top-right-radius: 20px
      border-bottom-right-radius: 20px
      padding: 50px

      .About-Description
        margin: 0
        height: 100%
        display: flex
        align-items: center
        color: $dart-logo-color-darkened
