@import "../partials/_variables.sass"

.Contact
  padding-top: 75px
  padding-bottom: 25px
  background-color: $dart-logo-color-darkened
  color: $dart-logo-color

  .Contact-Div
    display: inline-block
    padding-left: 8%
    padding-right: 8%
    padding-bottom: 5%
    border-radius: 8px

    .Contact-Header
      padding-bottom: 10px
      font-size: 50px

    .Input-Field
      color: $dart-logo-color
      background-color: $dart-logo-color-2nddarkened
      width: 100%
      width: 500px
      margin-top: 20px
      margin-bottom: 20px
      padding: 30px
      outline: none
      border: none
      border-radius: 3px
      font-family: Fira Sans
      font-size: 20px

    .Input-Field::placeholder
      color: $dart-logo-color-lightened
      margin-left: 5px
      font-family: Fira Sans
      font-size: 20px

    .Contact-Message-Text
      height: 200px
      text-align: left

.Submit_Modal
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  height: 100vh
  width: 100vw
  background-color: rgba(191, 191, 191, 0.5)
  z-index: 10

  .Submit_Modal-Text
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    background-color: $primary-text-color
    border-radius: 8px
    padding: 3%
    width: 60%

    .Submit_Modal-Button
      margin-top: 5%
      margin-bottom: 5%
      border: none
      outline: none
      cursor: pointer
      font-size: 20px
      background-color: $primary-text-color
      color: $base-color
      padding: 10px 20px
      font-weight: 900
