$base-color:  #18252e
$primary-text-color:#84a7bd
$secondary-text-color:#7ae2dd

.Footer
  background-color: $base-color
  padding-top: 1%
  padding-bottom: 2%
  color: #84a7bd

  .Footer-Icon
    margin-left: 1%
    margin-right: 1%

  .Footer-Icon:hover
    transform: rotate(360deg)
    transition: 0.4s

.Absolute-Icons-Arrow-Up
  position: fixed
  bottom: 10px
  right: 10px
  cursor: pointer
  color: $primary-text-color
  transition: 1s

  &:hover
    color: $secondary-text-color
    transition: 0.3s

.Absolute-Icons-Hamburger
  position: fixed
  bottom: 10px
  left: 10px
  cursor: pointer
  color: $primary-text-color
  transition: 1s

  &:hover
    color: $secondary-text-color
    transition: 0.3s
