@import "../partials/_variables.sass"

.Footer
  background-color: $dart-logo-color-darkened
  padding-top: 25px
  padding-bottom: 35px
  color: $dart-logo-color

  .Footer-Icon
    border: 3px solid $dart-logo-color
    border-radius: 20%
    margin-left: 10px
    margin-right: 10px
    padding: 10px
    color: $dart-logo-color

  .Footer-Icon:hover
    transition: 0.4s
    color: $dart-logo-color-2nddarkened
    border: 3px solid $dart-logo-color-2nddarkened
    background-color: $dart-logo-color
