.Footer
  background-color: #7ae2dd
  padding-top: 1%
  padding-bottom: 2%

  .Footer-Icon
    margin-left: 1%
    margin-right: 1%

  .Footer-Icon:hover
    transform: rotate(360deg)
    transition: 0.4s

.Absolute-Icons-Arrow-Up
  position: fixed
  bottom: 10px
  right: 10px
  cursor: pointer

.Absolute-Icons-Hamburger
  position: fixed
  bottom: 10px
  left: 10px
  cursor: pointer