@import "../partials/_variables.sass"

.Homepage
  margin: 0
  padding: 0

  .Homepage-Text-Div
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 80vh

    .Homepage-Grid
      color: $primary-text-color
      margin: 0
      font-size: 130px
      width: 90%
      display: flex
      justify-content: flex-start

    @media screen and ( max-width: 1030px )
      .Homepage-Grid
        color: $primary-text-color
        margin: 0
        font-size: 100px
        width: 90%
        display: flex
        justify-content: flex-start

    @media screen and ( max-width: 730px )
      .Homepage-Grid
        color: $primary-text-color
        margin: 0
        font-size: 90px
        width: 90%
        display: flex
        justify-content: flex-start

    @media screen and ( max-width: 640px )
      .Homepage-Grid
        color: $primary-text-color
        margin: 0
        font-size: 70px
        width: 90%
        display: flex
        justify-content: flex-start

    @media screen and ( max-width: 530px )
      .Homepage-Grid
        color: $primary-text-color
        margin: 0
        font-size: 60px
        width: 90%
        display: flex
        justify-content: flex-start

    @media screen and ( max-width: 440px )
      .Homepage-Grid
        color: $primary-text-color
        margin: 0
        font-size: 50px
        width: 90%
        display: flex
        justify-content: flex-start

    @media screen and ( max-width: 390px )
      .Homepage-Grid
        color: $primary-text-color
        margin: 0
        font-size: 40px
        width: 90%
        display: flex
        justify-content: flex-start

  @media screen and ( max-width: 800px )
    .Homepage-Text-Div
      display: flex
      justify-content: center
      flex-direction: column
      height: 80vh
