@import "../partials/_variables.sass"

.Homepage
  margin: 0

  .Homepage-Text-Div
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    .Homepage-Grid
      margin: -15px
      color: $primary-text-color

    .Homepage-Greeting, .Homepage-Name, .Homepage-Description, .Homepage-Technology
      display: flex
      justify-content: center
      font-size: 20vh
      width: 100vw

    .Homepage-Greeting, .Homepage-Description, .Homepage-Name, .Homepage-Technology
      justify-content: flex-start
      margin-left: 100px

.Homepage-Icons
  display: flex
  flex-direction: column
  position: fixed
  top: 50%
  left: 90%
  transform: translateY(-50%)

  .Homepage-Icon
    margin-right: 25px
    margin-left: 25px
    color: $primary-text-color
  .Homepage-Icon:hover
    transform: rotate(360deg)
    transition: 0.8s

.Homepage-Identification-Div
  padding: 10%
  padding-bottom: 20%

  .Homepage-Identification-Icon
    outline: none
    cursor: pointer
    color: $primary-text-color

@media screen and (max-width: 1100px)
  .Homepage-Identification-Div
    padding-bottom: 35%
    margin-top: 5%

  .Homepage-Icons
    margin-top: 10%

@media screen and (max-width: 850px)
  .Homepage-Identification-Div
    padding-bottom: 65%
    margin-top: 10%

  .Homepage-Icons
    margin-top: 15%

@media screen and (max-width: 600px)
  .Homepage-Identification-Div
    padding-bottom: 85%

  .Homepage-Icons
    margin-top: 20%
