@import "../partials/_variables.sass"

.Project-Gallery
    background-color: $base-color
    border-top: 5px solid $base-color
    border-bottom: 5px solid $base-color
    color: $primary-text-color

    .Project-Gallery-Header
        padding-top: 50px
        padding-bottom: 50px
        font-size: 70px
        font-family: Fira Sans
        color: $javascript-logo-color

.Project
    display: inline-flex
    justify-content: center
    padding: 100px
    position: relative

    .Project-Border-Top
        border-top: 2px solid $javascript-logo-color-darkened
        position: absolute
        left: 50%
        transform: translateX(-50%)
        width: 100vw
        top: 0

    .Project-Image
        width: 450px
        height: 300px

    .Project-Information
        margin-left: 100px

        .Project-Information-Name
            display: flex

        .Project-Information-Description
            display: flex
            width: 500px
            text-align: left

.Project-Technology-Div
    display: inline-block
    padding: 0px 10px
    border-width: 1px 3px 3px 1px
    border-style: solid
    border-color: $dart-logo-color-2nddarkened
    border-radius: 3px
    box-shadow: 1px 1px 0 $dart-logo-color-darkened
    margin: 3px

    .Project-Technology
        background-color: $dart-logo-color-darkened
        color: $dart-logo-color
        font-family: Righteous
        text-transform: uppercase
        font-weight: 700
        font-size: 12px
        line-height: 1em
