@import "../partials/_variables.sass"

.Project-Gallery
    background-color: $base-color
    border-top: 5px solid $base-color
    border-bottom: 5px solid $base-color

    .Project-Gallery-Header
        padding-top: 50px
        padding-bottom: 50px
        font-size: 70px
        font-family: Fira Sans
        color: $javascript-logo-color

    .Project-Gallery-Projects
        display: inline-flex
        flex-wrap: wrap
        justify-content: space-around

.Project
    position: relative
    width: 50%
    height: 50%

    .Project-Image
        width: 100%
        height: 100%
        margin-top: -3px
        transition: 0.4s

    .Project-Image:hover
        opacity: 0
        transition: 0.4s

    .Project-Information-Div
        position: absolute
        top: 25%
        left: 50%
        transform: translate(-50%,-50%)
        color: $javascript-logo-color
