@import "../partials/_variables.sass"

.Skills
  border-top: 5px solid $base-color
  padding-top: 25px
  background-color: $base-color
  color: $primary-text-color

  .Skills-Header
    font-size: 250%
    margin-top: 7%

  .Front-Back-Tool
    display: flex
    justify-content: space-evenly

  .Skills-Projects-Button
    margin-top: 7%
    margin-bottom: 10%
    outline: none
    cursor: pointer
    padding: 15px 30px

@media screen and (max-width: 600px)
  .Front-Back-Tool
    flex-direction: column
