@import "../partials/_variables.sass"

.Experience
  background-color: $primary-text-color
  color: $secondary-text-color
  position: relative
  font-family: Libre Franklin
  padding-bottom: 30px

  .Experience-Header-Div
    margin-left: 50px
    display: flex
    justify-content: flex-start
    height: 150px

    .Experience-Header
      font-size: 70px
      font-family: Reem Kufi

    @media screen and ( max-width: 500px )
      .Experience-Header
        font-size: 50px

  .Experience-Div
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin-left: 50px

    .Experience-Headers
      display: flex
      justify-content: flex-start
      align-items: flex-start
      flex-wrap: wrap

      .Experience-Date
        font-size: 35px
        font-family: Reem Kufi
        color: $base-color
        margin-right: 20px

      .Experience-Role
        font-size: 35px

      @media screen and ( max-width: 750px )
        .Experience-Date
          font-size: 25px

        .Experience-Role
          font-size: 25px

      @media screen and ( max-width: 550px )
        .Experience-Date
          font-size: 15px

        .Experience-Role
          font-size: 15px

    .Experience-Description
      font-size: 20px
      text-align: left
      width: 60%

    @media screen and ( max-width: 750px )
      .Experience-Description
        font-size: 15px
        width: 80%

    @media screen and ( max-width: 550px )
      .Experience-Description
        font-size: 15px
        width: 90%

      .Experience-Point
        margin-top: 15px

        &::before
          content: "\2022"
          color: white
