@import "../partials/_variables.sass"

.Footer
  background-color: $base-color
  padding-top: 35px
  padding-bottom: 15px
  color: $primary-text-color
  border-top: 10px solid $secondary-text-color
  display: flex
  justify-content: space-around
  align-items: center
  font-weight: bold

  .Footer-Right
    display: flex

    .Footer-Copyright, .Footer-Icons
      margin: 0

      .Footer-Icon
        margin-left: 10px
        transition: 0.5s
        color: $primary-text-color

        &:hover
          color: $secondary-text-color
          transition: 0.5s
