@import "../partials/_variables.sass"

.Footer
  background-color: $base-color
  padding-top: 35px
  padding-bottom: 35px
  color: $dart-logo-color

  .Footer-Icon
    border: 3px solid $dart-logo-color
    border-radius: 50px
    height: 25px
    width: 25px
    margin-left: 10px
    margin-right: 10px
    padding: 10px
    color: $dart-logo-color
    transition: 0.5s

  .Footer-Icon:hover
    transition: 0.5s
    color: $dart-logo-color-2nddarkened
    background-color: $dart-logo-color

  .Footer-Copyright
    color: $dart-logo-color
    margin-top: 30px

  @media screen and ( max-width: 430px )
    .Footer-Icon
      width: 20px
      height: 20px

  @media screen and ( max-width: 420px )
    .Footer-Copyright
      font-size: 11px
