@import "../partials/_variables.sass"

.Project-Gallery
    background-color: $base-color
    border-top: 5px solid $base-color

    .Project-Gallery-Header
        padding-top: 50px
        padding-bottom: 50px
        font-size: 70px
        font-family: Fira Sans
        color: $javascript-logo-color

    .Project-Gallery-Projects
        display: inline-flex
        flex-wrap: wrap
        justify-content: space-around

.Project
    position: relative
    width: 50%
    height: 50%

    .Project-Image-Div
        opacity: 1
        transition: 0.4s

        .Project-Image
            width: 100%
            height: 100%
            margin-bottom: -3px

    .Project-Image-Div-Hovered
        opacity: 0
        transition: 0.4s

    .Project-Information-Div
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        color: $javascript-logo-color
        opacity: 0
        transition-delay: 5000s
        transition: 0.5s
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        .Project-Information-Name
            font-family: Fira Sans
            text-align: center
            margin-bottom: 5px

        .Project-Information-Technologies
            display: flex
            justify-content: center

            p
                margin-left: 5px
                margin-right: 5px
                font-style: italic

        .Project-Information-Button
            margin-top: 40px
            border: none
            outline: none
            border: 2px solid $javascript-logo-color
            background-color: Transparent
            cursor: pointer
            font-family: Righteous
            font-size: 35px
            color: $javascript-logo-color
            transition: 0.3s ease
            width: 350px

    .Project-Information-Div-Hovered
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        color: $javascript-logo-color
        transition-delay: 5000s
        transition: 1s
        opacity: 1
        width: 100%
        height: 100%
