@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.App {
  height: 100vh;
  background: #18252e;
}

.Initial-Scene {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: #18252e;
  transform-origin: 50% -50%;
  transform: scale(1);
  z-index: 2;
}

.Initial-Scene-Loaded {
  transform: scale(0);
  transform-origin: 50% -50%;
  transition: 1s;
}

.Initial-Header {
  font-family: "Permanent Marker", cursive;
  font-size: 400%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0;
  color: #84a7bd;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s;
}

.Initial-Header-Loaded {
  animation: loadHeader 2s;
}

@keyframes loadHeader {
  20%, 80% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.Initial-Header:before {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, #84a7bd 40%, transparent 40%);
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  z-index: 3;
  border-radius: 4px;
  background-size: 200% 4px;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 8px #84a7bd);
  background-position: 80% 0;
  animation: beforeLineAnim 2s linear infinite;
}

@keyframes beforeLineAnim {
  45%, 50% {
    background-position: -100% 0;
  }
  45% {
    transform: scale(1);
  }
  50%, 95% {
    transform: scale(1, -1);
  }
  95% {
    background-position: 80% 0;
  }
}
.Menu {
  position: fixed;
  height: 10px;
  width: 10px;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(47, 72, 88, 0);
  transition: 0.5s;
}

.Menu-Load {
  background-color: #2f4858;
  height: 102vh;
  width: 101vw;
  transition: 0.5s;
  position: fixed;
  border-top-right-radius: 20px;
}

.Burger-Menu {
  position: fixed;
  height: 10px;
  width: 10px;
  top: 0;
  right: 0;
  z-index: 5;
  background-color: rgba(47, 72, 88, 0);
  transition: 0.5s;
}

.Burger-Menu-Load {
  background-color: #2f4858;
  height: 102vh;
  width: 101vw;
  transition: 0.5s;
  position: fixed;
  border-bottom-left-radius: 20px;
  top: 50;
  right: 50;
}

.X-Icon {
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  left: 10px;
}

.X-Burger-Icon {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 20px;
}

.Sandwich_Menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #7ae2dd;
}
.Sandwich_Menu .Sandwich_Menu-List {
  padding: 0;
}
.Sandwich_Menu .Sandwich_Menu-List .Sandwich-List-Item {
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #18252e;
}

::-webkit-scrollbar-thumb {
  background: #84a7bd;
  transition: 1s;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7ae2dd;
  transition: 0.3s;
}

.Header-Homepage {
  background: #18252e;
  height: 100vh;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header .Header-Logo {
  font-size: 100%;
  margin-left: 2%;
  margin-top: 1%;
  font-family: "Permanent Marker", cursive;
}
.Header .Header-Logo .Header-Logo-Left {
  color: #84a7bd;
  transition: 1s;
}
.Header .Header-Logo .Header-Logo-Left:hover {
  color: #7ae2dd;
  transition: 0.3s;
}

.Header-Navbar {
  margin-right: 5%;
}
.Header-Navbar .Header-Unordered-List {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
}
.Header-Navbar .Header-Unordered-List .Header-List-Item {
  text-align: center;
  margin-left: 45px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #84a7bd;
  transition: 1s;
}
.Header-Navbar .Header-Unordered-List .Header-List-Item .underline {
  height: 3px;
  background-color: #7ae2dd;
  width: 0%;
  transition: width 0.2s;
  margin: 0 auto;
}
.Header-Navbar .Header-Unordered-List .Header-List-Item:hover .underline {
  width: 100%;
}
.Header-Navbar .Header-Unordered-List .Header-List-Item:hover {
  color: #7ae2dd;
  transition: 0.3s;
}
.Header-Navbar .Header-Hamburger {
  display: none;
  cursor: pointer;
  color: #84a7bd;
  transition: 1s;
}
.Header-Navbar .Header-Hamburger:hover {
  color: #7ae2dd;
}
@media screen and (max-width: 870px) {
  .Header-Navbar .Header-Hamburger {
    display: block;
  }
  .Header-Navbar .Header-Unordered-List {
    display: none;
  }
}

.Homepage {
  margin-top: 5%;
}
.Homepage .Homepage-Text-Div {
  display: grid;
  grid-template-columns: auto auto;
}
.Homepage .Homepage-Text-Div .Homepage-Grid {
  margin: 0;
  color: #84a7bd;
}
.Homepage .Homepage-Text-Div .Homepage-Greeting, .Homepage .Homepage-Text-Div .Homepage-Name {
  display: flex;
  margin-left: 10%;
  font-size: 500%;
}
.Homepage .Homepage-Text-Div .Homepage-Description, .Homepage .Homepage-Text-Div .Homepage-Technology {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}
.Homepage .Homepage-Text-Div .Homepage-Description {
  font-size: 400%;
}
@media screen and (max-width: 1100px) {
  .Homepage .Homepage-Text-Div .Homepage-Greeting, .Homepage .Homepage-Text-Div .Homepage-Name {
    font-size: 400%;
  }
  .Homepage .Homepage-Text-Div .Homepage-Description {
    font-size: 300%;
  }
}
@media screen and (max-width: 870px) {
  .Homepage .Homepage-Text-Div .Homepage-Greeting, .Homepage .Homepage-Text-Div .Homepage-Name {
    font-size: 300%;
  }
  .Homepage .Homepage-Text-Div .Homepage-Description {
    font-size: 200%;
  }
}
@media screen and (max-width: 600px) {
  .Homepage .Homepage-Text-Div .Homepage-Greeting, .Homepage .Homepage-Text-Div .Homepage-Name {
    font-size: 250%;
  }
  .Homepage .Homepage-Text-Div .Homepage-Description {
    font-size: 150%;
  }
}
@media screen and (max-width: 470px) {
  .Homepage .Homepage-Text-Div .Homepage-Greeting, .Homepage .Homepage-Text-Div .Homepage-Name {
    font-size: 200%;
  }
  .Homepage .Homepage-Text-Div .Homepage-Description {
    font-size: 100%;
  }
}

.Homepage-Icons {
  margin-top: 5%;
}
.Homepage-Icons .Homepage-Icon {
  margin-right: 25px;
  margin-left: 25px;
  color: #84a7bd;
}
.Homepage-Icons .Homepage-Icon:hover {
  transform: rotate(360deg);
  transition: 0.8s;
}

.Homepage-Identification-Div {
  padding: 10%;
  padding-bottom: 20%;
}
.Homepage-Identification-Div .Homepage-Identification-Icon {
  outline: none;
  cursor: pointer;
  color: #84a7bd;
}

@media screen and (max-width: 1100px) {
  .Homepage-Identification-Div {
    padding-bottom: 35%;
    margin-top: 5%;
  }

  .Homepage-Icons {
    margin-top: 10%;
  }
}
@media screen and (max-width: 850px) {
  .Homepage-Identification-Div {
    padding-bottom: 65%;
    margin-top: 10%;
  }

  .Homepage-Icons {
    margin-top: 15%;
  }
}
@media screen and (max-width: 600px) {
  .Homepage-Identification-Div {
    padding-bottom: 85%;
  }

  .Homepage-Icons {
    margin-top: 20%;
  }
}
.About {
  background-color: #18252e;
  color: #84a7bd;
  border-top: 5px solid #18252e;
}
.About .About-Header-Div .About-Header {
  margin-top: 5%;
  font-size: 250%;
}
.About .About-Statement-Div {
  margin: auto;
  width: 50%;
}
.About .About-Statement-Div .About-Statement {
  text-align: center;
  line-height: 2.5;
  font-size: 130%;
}
@media screen and (max-width: 1100px) {
  .About .About-Statement-Div {
    width: 70%;
  }
  .About .About-Header {
    margin-top: 7%;
  }
}
@media screen and (max-width: 850px) {
  .About .About-Statement-Div {
    width: 85%;
  }
  .About .About-Header {
    margin-top: 15%;
  }
}
@media screen and (max-width: 600px) {
  .About .About-Statement-Div {
    width: 75%;
  }
  .About .About-Statement {
    font-size: 100%;
  }
  .About .About-Header {
    margin-top: 20%;
  }
}
.About .About-Technology-Icon {
  margin-top: 10%;
  margin-bottom: 10%;
  cursor: pointer;
  color: #84a7bd;
}
@media screen and (max-width: 540px) {
  .About .About-Technology-Icon {
    padding: 10px 25px;
  }
}
@media screen and (max-width: 540px) {
  .About .About-Technology-Icon {
    padding: 10px 25px;
  }
}

.Skills {
  border-top: 5px solid #2f4858;
  background-color: #14bdad;
}
.Skills .Skills-Header {
  font-size: 250%;
  margin-top: 7%;
}
.Skills .Front-Back-Tool {
  display: flex;
  justify-content: space-evenly;
}
.Skills .Skills-Projects-Button {
  margin-top: 7%;
  margin-bottom: 10%;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  background-color: #14bdad;
  color: #2f4858;
  padding: 15px 30px;
  border: 5px solid #2f4858;
  font-weight: 900;
}
@media screen and (max-width: 540px) {
  .Skills .Skills-Projects-Button {
    font-size: 15px;
    padding: 10px 25px;
  }
}

@media screen and (max-width: 600px) {
  .Front-Back-Tool {
    flex-direction: column;
  }
}
.Projects {
  padding-top: 2%;
  padding-bottom: 2%;
}
.Projects .Projects-One-Div {
  display: flex;
  justify-content: space-evenly;
}
.Projects .Projects-One-Div .Projects-One-Description-Header, .Projects .Projects-One-Div .Projects-One-Description-Text, .Projects .Projects-One-Div .Projects-One-Stack-Header, .Projects .Projects-One-Div .Projects-One-Stack-Text {
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 700px) {
  .Projects .Projects-One-Div .Projects-One-Description-Header, .Projects .Projects-One-Div .Projects-One-Description-Text, .Projects .Projects-One-Div .Projects-One-Stack-Header, .Projects .Projects-One-Div .Projects-One-Stack-Text {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  .Projects .Projects-One-Div {
    flex-direction: column;
  }
}
.Projects .Projects-One-Icon {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.Contact {
  padding-top: 75px;
  background-color: #7ae2dd;
  padding-bottom: 75px;
  color: #7ae2dd;
}
.Contact .Contact-Div {
  background-color: #2f4858;
  display: inline-block;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 5%;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
}
.Contact .Contact-Div .Input-Field {
  color: #2f4858;
  outliine: none;
  border: none;
  background-color: #7ae2dd;
  border-radius: 3px;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Contact .Contact-Div .Input-Field::placeholder {
  color: #2f4858;
  margin-left: 5px;
}
.Contact .Contact-Div .Contact-Button {
  margin-top: 5%;
  margin-bottom: 5%;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  background-color: #2f4858;
  color: #7ae2dd;
  padding: 10px 20px;
  border: 5px solid #7ae2dd;
  font-weight: 900;
}
.Contact .Contact-Header {
  border-bottom: 3px solid #7ae2dd;
  padding-bottom: 10px;
  font-size: 175%;
}

.Submit_Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  background-color: rgba(191, 191, 191, 0.5);
  z-index: 10;
}
.Submit_Modal .Submit_Modal-Text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2f4858;
  border-radius: 8px;
  padding: 3%;
  width: 60%;
}
.Submit_Modal .Submit_Modal-Text .Submit_Modal-Button {
  margin-top: 5%;
  margin-bottom: 5%;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  background-color: #2f4858;
  color: #7ae2dd;
  padding: 10px 20px;
  border: 5px solid #7ae2dd;
  font-weight: 900;
}

.Footer {
  background-color: #7ae2dd;
  padding-top: 1%;
  padding-bottom: 2%;
}
.Footer .Footer-Icon {
  margin-left: 1%;
  margin-right: 1%;
}
.Footer .Footer-Icon:hover {
  transform: rotate(360deg);
  transition: 0.4s;
}

.Absolute-Icons-Arrow-Up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  color: #84a7bd;
  transition: 1s;
}
.Absolute-Icons-Arrow-Up:hover {
  color: #7ae2dd;
  transition: 0.3s;
}

.Absolute-Icons-Hamburger {
  position: fixed;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  color: #84a7bd;
  transition: 1s;
}
.Absolute-Icons-Hamburger:hover {
  color: #7ae2dd;
  transition: 0.3s;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  text-align: center;
  color: #2f4858;
  font-family: Lato;
  overflow-x: hidden;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=App.css.map */

/*# sourceMappingURL=App.css.map */
