@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gorditas:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
::-webkit-scrollbar {
  width: 0px;
}

.Header-Homepage {
  background: #FFD0CE;
  height: 100vh;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NavBar .NavBar-Logo {
  font-size: 100%;
  margin-left: 4%;
  margin-top: 1%;
  font-family: "Permanent Marker", cursive;
}
.NavBar .NavBar-Logo .NavBar-Logo-Left {
  color: #262221;
  transition: 1s;
}
.NavBar .NavBar-Logo .NavBar-Logo-Left:hover {
  color: #FFFFFF;
  transition: 0.3s;
}

.NavBar-Links {
  margin-right: 3%;
}
.NavBar-Links .NavBar-Unordered-List {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
}
.NavBar-Links .NavBar-Unordered-List .NavBar-List-Item {
  text-align: center;
  margin-left: 45px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #262221;
  transition: 1s;
  font-family: "Varela Round", sans-serif;
}
.NavBar-Links .NavBar-Unordered-List .NavBar-List-Item .underline {
  height: 3px;
  background-color: #FFFFFF;
  width: 0%;
  transition: width 0.2s;
  margin: 0 auto;
}
.NavBar-Links .NavBar-Unordered-List .NavBar-List-Item:hover .underline {
  width: 100%;
}
.NavBar-Links .NavBar-Unordered-List .NavBar-List-Item:hover {
  color: #FFFFFF;
  transition: 0.3s;
}
.NavBar-Links .NavBar-Unordered-List .NavBar-Resume {
  color: #262221;
}
.NavBar-Links .NavBar-Unordered-List .NavBar-Resume:hover {
  color: #FFFFFF;
  transition: 0.3s;
}
.NavBar-Links .NavBar-Hamburger {
  display: none;
  cursor: pointer;
  color: #262221;
  transition: 0.3s;
}
.NavBar-Links .NavBar-Hamburger:hover {
  height: 45px;
  width: 45px;
  color: #FFFFFF;
}
@media screen and (max-width: 930px) {
  .NavBar-Links .NavBar-Hamburger {
    display: block;
  }
  .NavBar-Links .NavBar-Unordered-List {
    display: none;
  }
}

.Homepage {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #FFD0CE;
}
.Homepage .Homepage-Text-Div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
}
.Homepage .Homepage-Text-Div .Homepage-Grid {
  color: #262221;
  margin: 0;
  font-size: 110px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
}
.Homepage .Homepage-Text-Div .Homepage-Grid .Homepage-Name-Secondary-Color {
  color: #262221;
  font-family: Varela;
}
.Homepage .Homepage-Text-Div .Homepage-Grid .Homepage-Name-PopOut {
  font-family: "Fira Sans", sans-serif;
  color: #262221;
}
.Homepage .Homepage-Text-Div .Homepage-Grid .Homepage-Description-Dev {
  color: #262221;
  font-family: Reem Kufi;
}
.Homepage .Homepage-Text-Div .Homepage-Grid .Homepage-Description-Dev .Homepage-Description-Dev-Stack {
  font-style: italic;
}
.Homepage .Homepage-Text-Div .Homepage-Technology-Header {
  color: #262221;
  font-family: Gorditas;
}
.Homepage .Homepage-Text-Div .Homepage-Technology-Header .Homepage-Technology-Javascript {
  color: #262221;
  font-family: Coiny;
}
@media screen and (max-height: 750px) {
  .Homepage .Homepage-Text-Div .Homepage-Grid {
    font-size: 100px;
  }
}
@media screen and (max-width: 1160px) {
  .Homepage .Homepage-Text-Div .Homepage-Grid {
    font-size: 100px;
  }
}
@media screen and (max-width: 940px) {
  .Homepage .Homepage-Text-Div .Homepage-Grid {
    font-size: 90px;
    width: 90%;
  }
}
@media screen and (max-width: 880px) {
  .Homepage .Homepage-Text-Div .Homepage-Grid {
    font-size: 70px;
  }
}
@media screen and (max-width: 730px) {
  .Homepage .Homepage-Text-Div .Homepage-Grid {
    font-size: 60px;
  }
}
@media screen and (max-width: 450px) {
  .Homepage .Homepage-Text-Div .Homepage-Grid {
    font-size: 50px;
  }
}
@media screen and (max-width: 390px) {
  .Homepage .Homepage-Text-Div .Homepage-Grid {
    font-size: 40px;
    width: 90%;
  }
}
@media screen and (max-width: 730px) {
  .Homepage .Homepage-Text-Div {
    height: 70vh;
  }
}
@media screen and (max-width: 650px) {
  .Homepage .Homepage-Text-Div {
    height: 60vh;
  }
}
@media screen and (max-width: 450px) {
  .Homepage .Homepage-Text-Div {
    height: 40vh;
  }
}

.Homepage-Sidebar {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}
.Homepage-Sidebar .Homepage-Icons {
  display: flex;
  flex-direction: column;
}
.Homepage-Sidebar .Homepage-Icons .Homepage-Icon {
  color: #262221;
  margin-bottom: 15px;
  margin-top: 15px;
}
.Homepage-Sidebar .Homepage-Icons .Homepage-Icon:hover {
  color: #262221;
  transition: 0.5s;
}

@media screen and (max-width: 730px) {
  .Homepage-Sidebar {
    flex-direction: column;
    top: 78%;
    left: 50%;
    transform: translateX(-50%);
  }
  .Homepage-Sidebar .Homepage-Message-Div {
    writing-mode: horizontal-tb;
  }
  .Homepage-Sidebar .Homepage-Message-Div .Homepage-Message {
    margin: 0;
  }
  .Homepage-Sidebar .Homepage-Message-Div:hover {
    color: #262221;
    transition: 0.5s;
    text-decoration: underline;
    writing-mode: horizontal-tb;
  }
  .Homepage-Sidebar .Homepage-Icons {
    flex-direction: row;
    justify-content: center;
  }
  .Homepage-Sidebar .Homepage-Icons .Homepage-Icon {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 650px) {
  .Homepage-Sidebar {
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 450px) {
  .Homepage-Sidebar {
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
  }
}
html {
  overflow-x: hidden;
  cursor: none;
}

body {
  margin: 0;
  text-align: center;
  color: #FFD0CE;
  font-family: Lato;
  overflow-x: hidden;
  cursor: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

::selection {
  background-color: #FFFFFF;
  color: #FFD0CE;
}

/*# sourceMappingURL=App.css.map */

/*# sourceMappingURL=App.css.map */
