@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gorditas:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
.App {
  height: 100vh;
  background: #18252e;
}

.LoadingAnimation-Scene {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: #18252e;
  transform-origin: 50% -50%;
  transform: scale(1);
  z-index: 2;
  will-change: transform;
}

.LoadingAnimation-Header {
  font-family: "Permanent Marker", cursive;
  font-size: 400%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0;
  color: #84a7bd;
  transform: translate(-50%, -50%) scale(0);
  animation: loadHeader 3s;
  animation-delay: 1s;
  transition: 0.5s;
  will-change: transform;
}

@keyframes loadHeader {
  20%, 80% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.LoadingAnimation-Header:before {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, #84a7bd 40%, transparent 40%);
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  z-index: 3;
  border-radius: 4px;
  background-size: 200% 4px;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 8px #84a7bd);
  background-position: 80% 0;
  animation: beforeLineAnim 2s linear infinite;
}

@keyframes beforeLineAnim {
  45%, 50% {
    background-position: -100% 0;
  }
  45% {
    transform: scale(1);
  }
  50%, 95% {
    transform: scale(1, -1);
  }
  95% {
    background-position: 80% 0;
  }
}
.LoadingAnimation-Loader {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 50%;
  transition: 0.5s;
}
.LoadingAnimation-Loader .LoadingAnimation-Dot {
  height: 3vh;
  width: 3vh;
  background: #84a7bd;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  padding: 5px;
}
.LoadingAnimation-Loader .LoadingAnimation-Dot.Dot-One {
  transform: scale(0);
  animation: bob 2s infinite;
  animation-delay: 0.5s;
}
.LoadingAnimation-Loader .LoadingAnimation-Dot.Dot-One::before {
  background-color: red;
  position: absolute;
  left: 0%;
  top: 0%;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s infinite;
  animation-delay: 0.5s;
}
.LoadingAnimation-Loader .LoadingAnimation-Dot.Dot-Two {
  transform: scale(0);
  animation: bob 2s infinite;
  animation-delay: 0.75s;
}
.LoadingAnimation-Loader .LoadingAnimation-Dot.Dot-Two::before {
  position: absolute;
  left: 0%;
  top: 0%;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s infinite;
  animation-delay: 0.75s;
}
.LoadingAnimation-Loader .LoadingAnimation-Dot.Dot-Three {
  transform: scale(0);
  animation: bob 2s infinite;
  animation-delay: 1s;
}
.LoadingAnimation-Loader .LoadingAnimation-Dot.Dot-Three::before {
  position: absolute;
  left: 0%;
  top: 0%;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s infinite;
  animation-delay: 1s;
}
.LoadingAnimation-Loader .LoadingAnimation-Dot.Dot-Four {
  transform: scale(0);
  animation: bob 2s infinite;
  animation-delay: 1.25s;
}
.LoadingAnimation-Loader .LoadingAnimation-Dot.Dot-Four::before {
  position: absolute;
  left: 0%;
  top: 0%;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s infinite;
  animation-delay: 1.25s;
}
.LoadingAnimation-Loader .LoadingAnimation-Dot.Dot-Five {
  transform: scale(0);
  animation: bob 2s infinite;
  animation-delay: 1.5s;
}
.LoadingAnimation-Loader .LoadingAnimation-Dot.Dot-Five::before {
  position: absolute;
  left: 0%;
  top: 0%;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s infinite;
  animation-delay: 1.5s;
}
@keyframes wave {
  50%, 75% {
    transform: scale(2);
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes bob {
  0%, 100% {
    transform: scale(1);
  }
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

.LoadingAnimation-Transition {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.LoadingAnimation-Transition.LoadingAnimation-Transition-Left {
  clip-path: polygon(0 100%, 0% 100%, 0 100%);
  transition: 1s;
  transition-delay: 1s;
  will-change: clip-path, background;
}
.LoadingAnimation-Transition.LoadingAnimation-Transition-Left.Transition-Left {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background: #84a7bd;
}
.LoadingAnimation-Transition.LoadingAnimation-Transition-Right {
  clip-path: polygon(100% 0, 100% 0, 100% 0%);
  transition: 1s;
  transition-delay: 1s;
  will-change: clip-path, background;
}
.LoadingAnimation-Transition.LoadingAnimation-Transition-Right.Transition-Right {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  background: #84a7bd;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #18252e;
}

::-webkit-scrollbar-thumb {
  background: #00d2b7;
  transition: 1s;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f0db4f;
  transition: 0.3s;
}

.Header-Homepage {
  background: #18252e;
  height: 100vh;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NavBar .NavBar-Logo {
  font-size: 100%;
  margin-left: 4%;
  margin-top: 1%;
  font-family: "Permanent Marker", cursive;
}
.NavBar .NavBar-Logo .NavBar-Logo-Left {
  color: #84a7bd;
  transition: 1s;
}
.NavBar .NavBar-Logo .NavBar-Logo-Left:hover {
  color: #7ae2dd;
  transition: 0.3s;
}

.NavBar-Links {
  margin-right: 3%;
}
.NavBar-Links .NavBar-Unordered-List {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
}
.NavBar-Links .NavBar-Unordered-List .NavBar-List-Item {
  text-align: center;
  margin-left: 45px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #84a7bd;
  transition: 1s;
  font-family: "Varela Round", sans-serif;
}
.NavBar-Links .NavBar-Unordered-List .NavBar-List-Item .underline {
  height: 3px;
  background-color: #7ae2dd;
  width: 0%;
  transition: width 0.2s;
  margin: 0 auto;
}
.NavBar-Links .NavBar-Unordered-List .NavBar-List-Item:hover .underline {
  width: 100%;
}
.NavBar-Links .NavBar-Unordered-List .NavBar-List-Item:hover {
  color: #7ae2dd;
  transition: 0.3s;
}
.NavBar-Links .NavBar-Unordered-List .NavBar-Resume {
  color: #84a7bd;
}
.NavBar-Links .NavBar-Unordered-List .NavBar-Resume:hover {
  color: #7ae2dd;
  transition: 0.3s;
}
.NavBar-Links .NavBar-Hamburger {
  display: none;
  cursor: pointer;
  color: #84a7bd;
  transition: 1s;
}
.NavBar-Links .NavBar-Hamburger:hover {
  color: #7ae2dd;
}
@media screen and (max-width: 930px) {
  .NavBar-Links .NavBar-Hamburger {
    display: block;
  }
  .NavBar-Links .NavBar-Unordered-List {
    display: none;
  }
}

.Hidden-NavBar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00d2b7;
  z-index: 5;
  transition: top 0.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.Hidden-NavBar-Scroll {
  top: -150px;
}

.Hidden-NavBar-Logo {
  font-size: 100%;
  margin-left: 4%;
  font-family: "Permanent Marker", cursive;
}
.Hidden-NavBar-Logo .Hidden-NavBar-Logo-Left {
  color: #18252e;
  transition: 0.3s;
}
.Hidden-NavBar-Logo .Hidden-NavBar-Logo-Left:hover {
  transform: scale(1.2) rotate(4deg);
  transition: 0.3s;
}

.Hidden-NavBar-Links {
  margin-right: 3%;
}
.Hidden-NavBar-Links .Hidden-NavBar-Unordered-List {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
}
.Hidden-NavBar-Links .Hidden-NavBar-Unordered-List .Hidden-NavBar-List-Item {
  text-align: center;
  margin-left: 45px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #18252e;
  transition: 1s;
  font-family: "Varela Round", sans-serif;
}
.Hidden-NavBar-Links .Hidden-NavBar-Unordered-List .Hidden-NavBar-List-Item .underline {
  height: 3px;
  background-color: #18252e;
  width: 0%;
  transition: width 0.2s;
  margin: 0 auto;
}
.Hidden-NavBar-Links .Hidden-NavBar-Unordered-List .Hidden-NavBar-List-Item:hover .underline {
  width: 100%;
}
.Hidden-NavBar-Links .Hidden-NavBar-Unordered-List .Hidden-NavBar-List-Item .Hidden-NavBar-List-Item:hover {
  color: #7ae2dd;
  transition: 0.3s;
}
.Hidden-NavBar-Links .Hidden-NavBar-Unordered-List .Hidden-NavBar-List-Item .HiddenNavBar-Resume {
  color: #18252e;
}
.Hidden-NavBar-Links .Hidden-NavBar-Hamburger {
  display: none;
  cursor: pointer;
  color: #18252e;
  transition: 1s;
}
.Hidden-NavBar-Links .Hidden-NavBar-Hamburger:hover {
  color: #7ae2dd;
}
@media screen and (max-width: 930px) {
  .Hidden-NavBar-Links .Hidden-NavBar-Hamburger {
    display: block;
  }
  .Hidden-NavBar-Links .Hidden-NavBar-Unordered-List {
    display: none;
  }
}

.Homepage {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.Homepage .Homepage-Text-Div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
}
.Homepage .Homepage-Text-Div .Homepage-Grid {
  color: #84a7bd;
  margin: 0;
  font-size: 130px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
}
.Homepage .Homepage-Text-Div .Homepage-Grid .Homepage-Name-Secondary-Color {
  color: #7ae2dd;
  font-family: Varela;
}
.Homepage .Homepage-Text-Div .Homepage-Grid .Homepage-Name-PopOut {
  font-family: "Fira Sans", sans-serif;
  color: #B7DAF0;
}
.Homepage .Homepage-Text-Div .Homepage-Grid .Homepage-Description-Dev {
  color: #bed1dc;
  font-family: Reem Kufi;
}
.Homepage .Homepage-Text-Div .Homepage-Grid .Homepage-Description-Dev .Homepage-Description-Dev-Stack {
  font-style: italic;
}
.Homepage .Homepage-Text-Div .Homepage-Grid .Homepage-Technology-Javascript {
  color: #f0db4f;
  font-family: Gorditas;
}
.Homepage .Homepage-Text-Div .Homepage-Grid .Homepage-Technology-Dart {
  color: #00d2b7;
  font-family: Coiny;
}
@media screen and (max-height: 750px) {
  .Homepage .Homepage-Text-Div .Homepage-Grid {
    color: #84a7bd;
    margin: 0;
    font-size: 100px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 1160px) {
  .Homepage .Homepage-Text-Div .Homepage-Grid {
    color: #84a7bd;
    margin: 0;
    font-size: 100px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 940px) {
  .Homepage .Homepage-Text-Div .Homepage-Grid {
    color: #84a7bd;
    margin: 0;
    font-size: 90px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 880px) {
  .Homepage .Homepage-Text-Div .Homepage-Grid {
    color: #84a7bd;
    margin: 0;
    font-size: 70px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 730px) {
  .Homepage .Homepage-Text-Div .Homepage-Grid {
    color: #84a7bd;
    margin: 0;
    font-size: 60px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 450px) {
  .Homepage .Homepage-Text-Div .Homepage-Grid {
    color: #84a7bd;
    margin: 0;
    font-size: 50px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 390px) {
  .Homepage .Homepage-Text-Div .Homepage-Grid {
    color: #84a7bd;
    margin: 0;
    font-size: 40px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 730px) {
  .Homepage .Homepage-Text-Div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
  }
}
@media screen and (max-width: 650px) {
  .Homepage .Homepage-Text-Div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
  }
}
@media screen and (max-width: 450px) {
  .Homepage .Homepage-Text-Div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
  }
}

.Homepage-Sidebar {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}
.Homepage-Sidebar .Homepage-Message-Div {
  color: #84a7bd;
  text-decoration: underline;
  writing-mode: vertical-lr;
}
.Homepage-Sidebar .Homepage-Message-Div .Homepage-Message {
  font-family: Gorditas;
  font-size: 50px;
}
@media screen and (max-width: 450px) {
  .Homepage-Sidebar .Homepage-Message-Div .Homepage-Message {
    font-size: 40px;
  }
}
@media screen and (max-width: 360px) {
  .Homepage-Sidebar .Homepage-Message-Div .Homepage-Message {
    font-size: 30px;
  }
}
.Homepage-Sidebar .Homepage-Message-Div:hover {
  color: #7ae2dd;
  transition: 0.5s;
  text-decoration: underline;
  writing-mode: vertical-lr;
}
.Homepage-Sidebar .Homepage-Icons {
  display: flex;
  flex-direction: column;
}
.Homepage-Sidebar .Homepage-Icons .Homepage-Icon {
  color: #84a7bd;
  margin-bottom: 15px;
  margin-top: 15px;
}
.Homepage-Sidebar .Homepage-Icons .Homepage-Icon:hover {
  color: #7ae2dd;
  transition: 0.5s;
}

@media screen and (max-width: 730px) {
  .Homepage-Sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translateX(-50%);
  }
  .Homepage-Sidebar .Homepage-Message-Div {
    color: #84a7bd;
    text-decoration: underline;
    writing-mode: horizontal-tb;
  }
  .Homepage-Sidebar .Homepage-Message-Div .Homepage-Message {
    margin: 0;
  }
  .Homepage-Sidebar .Homepage-Message-Div:hover {
    color: #7ae2dd;
    transition: 0.5s;
    text-decoration: underline;
    writing-mode: horizontal-tb;
  }
  .Homepage-Sidebar .Homepage-Icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .Homepage-Sidebar .Homepage-Icons .Homepage-Icon {
    color: #84a7bd;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 650px) {
  .Homepage-Sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 450px) {
  .Homepage-Sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.About {
  background-color: #18252e;
  color: #84a7bd;
  border-top: 5px solid #18252e;
  border-bottom: 5px solid #18252e;
  padding-top: 50px;
  padding-bottom: 150px;
  height: 100vh;
  position: relative;
  background: #18252e url("data:image/svg+xml,%3Csvg width='1280' height='233' xmlns='http://www.w3.org/2000/svg'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath d='M1280 0c-167.463 0-449.312 114.933-639.815 114.933C449.68 114.933 173.4 0 0 0v233h1280V0z' fill='%2300d2b7'/%3E %3Cpath d='M1280 140.13C1112.537 140.13 830.503 42 640 42S173.4 140.13 0 140.13v93h1280v-93z' fill='%23f0db4f'/%3E %3C/g%3E %3C/svg%3E ") bottom/100% no-repeat fixed;
}
.About .About-Header-Div {
  padding-top: 50px;
  padding-bottom: 50px;
}
.About .About-Header-Div .About-Header {
  font-size: 70px;
  font-family: "Fira Sans", sans-serif;
  color: #f0db4f;
}
.About .About-Statement-Div {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 900px;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.5);
  background-color: #f0db4f;
  border-radius: 20px;
  position: relative;
}
.About .About-Statement-Div .About-Picture-Div {
  background-color: #f0db4f;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 50px;
}
.About .About-Statement-Div .About-Picture-Div .About-Picture {
  width: 150px;
  height: 150px;
}
.About .About-Statement-Div .About-Picture-Div .About-Name {
  color: #92810c;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  font-family: Reem Kufi;
}
.About .About-Statement-Div .About-Description-Div {
  background-color: #00d2b7;
  background: linear-gradient(to right, #f0db4f 50%, #00d2b7 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  color: #18252e;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 50px;
  transition: all 0.5s ease;
}
.About .About-Statement-Div .About-Description-Div .About-Description {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: #00695b;
  text-align: justify;
  line-height: 1.5;
  font-family: Varela Round;
}
.About .About-Statement-Div .About-Description-Div:hover {
  background-position: left bottom;
}
.About .About-Statement-Div .About-Description-Div:hover .About-Description {
  color: #92810c;
  transition: 0.5s;
}
@media screen and (max-width: 950px) {
  .About .About-Statement-Div {
    display: flex;
    flex-direction: column;
    width: 600px;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.5);
  }
  .About .About-Statement-Div .About-Picture-Div {
    background-color: #f0db4f;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .About .About-Statement-Div .About-Picture-Div .About-Picture {
    width: 100px;
    height: 100px;
  }
  .About .About-Statement-Div .About-Picture-Div .About-Name {
    margin: 0;
  }
  .About .About-Statement-Div .About-Description-Div {
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    background: #f0db4f;
  }
  .About .About-Statement-Div .About-Description-Div .About-Description {
    color: #92810c;
  }
}
@media screen and (max-width: 650px) {
  .About .About-Header-Div {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .About .About-Header-Div .About-Header {
    font-size: 50px;
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 50px;
  }
  .About .About-Statement-Div {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.5);
  }
  .About .About-Statement-Div .About-Picture-Div {
    background-color: #f0db4f;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 25px;
  }
  .About .About-Statement-Div .About-Description-Div {
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    background: #f0db4f;
    padding: 25px;
  }
}
@media screen and (max-width: 420px) {
  .About .About-Header-Div {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .About .About-Header-Div .About-Header {
    font-size: 40px;
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 50px;
  }
  .About .About-Statement-Div {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.5);
  }
  .About .About-Statement-Div .About-Picture-Div {
    background-color: #f0db4f;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 15px;
  }
  .About .About-Statement-Div .About-Description-Div {
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    background: #f0db4f;
    padding: 15px;
  }
  .About .About-Statement-Div .About-Description-Div .About-Description {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    line-height: 1.5;
    font-family: Varela Round;
  }
}

.Skills {
  border-top: 5px solid #18252e;
  color: #00d2b7;
  height: 100vh;
  background: #18252e url("data:image/svg+xml,%3Csvg width='1280' height='710' xmlns='http://www.w3.org/2000/svg'%3E %3Cg fill='%2300d2b7' fill-rule='evenodd'%3E %3Cpath d='M0 63.354c47.677-2.931 102.14 12.343 163.387 45.822 91.87 50.22 126.954 158.927 248.81 226.016 121.856 67.09 217.644 28.645 324.582 86.582C843.72 479.71 882.997 594 979.392 646.458c64.263 34.971 130.87 56.185 199.821 63.641H0V63.354z'/%3E %3Cpath d='M0 1.393C50.612-3.2 109.835 13.082 177.667 50.234c101.749 55.73 130.439 163.5 265.397 237.95 134.958 74.45 204.648 26.67 323.085 90.963 118.436 64.293 142.832 176.85 249.59 235.062 71.173 38.808 167.927 70.771 290.261 95.89H0V1.393z' opacity='.7'/%3E %3C/g%3E %3C/svg%3E") left bottom/70% no-repeat fixed;
}
.Skills .Skills-Header {
  font-size: 70px;
  font-family: Fira Sans;
  color: #00d2b7;
}
.Skills .Front-Back-Tool {
  display: flex;
  justify-content: space-evenly;
}
.Skills .Front-Back-Tool .Skills-Card {
  background-color: #00695b;
  width: 200px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.5);
}
.Skills .Front-Back-Tool .Skills-Card .Skills-Card-Header {
  font-family: Reem Kufi;
  font-size: 40px;
  margin: 10px 0px;
}

.Skills-Card-Holder {
  display: flex;
  flex-wrap: wrap;
}

.Skill-Technology-Div {
  display: inline-block;
  padding: 0px 10px;
  border-width: 1px 3px 3px 1px;
  border-style: solid;
  border-color: #00342d;
  border-radius: 3px;
  box-shadow: 1px 1px 0 #00695b;
  margin: 3px;
}
.Skill-Technology-Div .Skill-Technology {
  background-color: #00695b;
  color: #00d2b7;
  font-family: Righteous;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 1em;
}

@media screen and (max-width: 900px) {
  .Skills {
    border-top: 5px solid #18252e;
    color: #00d2b7;
    height: 210vh;
    background: #18252e url("data:image/svg+xml,%3Csvg width='1280' height='710' xmlns='http://www.w3.org/2000/svg'%3E %3Cg fill='%2300d2b7' fill-rule='evenodd'%3E %3Cpath d='M0 63.354c47.677-2.931 102.14 12.343 163.387 45.822 91.87 50.22 126.954 158.927 248.81 226.016 121.856 67.09 217.644 28.645 324.582 86.582C843.72 479.71 882.997 594 979.392 646.458c64.263 34.971 130.87 56.185 199.821 63.641H0V63.354z'/%3E %3Cpath d='M0 1.393C50.612-3.2 109.835 13.082 177.667 50.234c101.749 55.73 130.439 163.5 265.397 237.95 134.958 74.45 204.648 26.67 323.085 90.963 118.436 64.293 142.832 176.85 249.59 235.062 71.173 38.808 167.927 70.771 290.261 95.89H0V1.393z' opacity='.7'/%3E %3C/g%3E %3C/svg%3E") left bottom/70% no-repeat fixed;
  }
  .Skills .Front-Back-Tool {
    flex-direction: column;
    align-items: center;
  }
  .Skills .Front-Back-Tool .Skills-Card {
    background-color: #00695b;
    width: 200px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.5);
    margin: 20px 0px;
  }
}
@media screen and (max-height: 680px) {
  .Skills {
    border-top: 5px solid #18252e;
    color: #00d2b7;
    height: 210vh;
    background: #18252e url("data:image/svg+xml,%3Csvg width='1280' height='710' xmlns='http://www.w3.org/2000/svg'%3E %3Cg fill='%2300d2b7' fill-rule='evenodd'%3E %3Cpath d='M0 63.354c47.677-2.931 102.14 12.343 163.387 45.822 91.87 50.22 126.954 158.927 248.81 226.016 121.856 67.09 217.644 28.645 324.582 86.582C843.72 479.71 882.997 594 979.392 646.458c64.263 34.971 130.87 56.185 199.821 63.641H0V63.354z'/%3E %3Cpath d='M0 1.393C50.612-3.2 109.835 13.082 177.667 50.234c101.749 55.73 130.439 163.5 265.397 237.95 134.958 74.45 204.648 26.67 323.085 90.963 118.436 64.293 142.832 176.85 249.59 235.062 71.173 38.808 167.927 70.771 290.261 95.89H0V1.393z' opacity='.7'/%3E %3C/g%3E %3C/svg%3E") left bottom/70% no-repeat fixed;
  }
  .Skills .Front-Back-Tool {
    flex-direction: column;
    align-items: center;
  }
  .Skills .Front-Back-Tool .Skills-Card {
    background-color: #00695b;
    width: 200px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.5);
    margin: 10px 0px;
  }
  .Skills .Front-Back-Tool .Skills-Card .Skills-Card-Header {
    font-family: Reem Kufi;
    font-size: 30px;
    margin: 5px 0px;
  }

  .Skill-Technology-Div {
    display: inline-block;
    padding: 0px 10px;
    border-width: 1px 3px 3px 1px;
    border-style: solid;
    border-color: #00342d;
    border-radius: 3px;
    box-shadow: 1px 1px 0 #00695b;
    margin: 3px;
  }
  .Skill-Technology-Div .Skill-Technology {
    background-color: #00695b;
    color: #00d2b7;
    font-family: Righteous;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 1em;
  }
}
.Project-Gallery {
  background-color: #18252e;
  border-top: 5px solid #18252e;
}
.Project-Gallery .Project-Gallery-Header {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 70px;
  font-family: Fira Sans;
  color: #f0db4f;
}
.Project-Gallery .Project-Gallery-Projects {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (max-width: 800px) {
  .Project-Gallery .Project-Gallery-Projects {
    display: flex;
    flex-direction: column;
  }
}

.Project {
  position: relative;
  width: 50%;
  height: 50%;
}
.Project .Project-Image-Div {
  opacity: 1;
  transition: 0.4s;
}
.Project .Project-Image-Div .Project-Image {
  width: 100%;
  height: 100%;
  margin-bottom: -3px;
}
.Project .Project-Image-Div-Hovered {
  opacity: 0;
  transition: 0.4s;
}
.Project .Project-Information-Div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f0db4f;
  opacity: 0;
  transition-delay: 5000s;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Project .Project-Information-Div .Project-Information-Name {
  font-family: Fira Sans;
  text-align: center;
  margin-bottom: 5px;
}
.Project .Project-Information-Div .Project-Information-Technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Project .Project-Information-Div .Project-Information-Technologies p {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
  opacity: 0.8;
}
@media screen and (max-width: 350px) {
  .Project .Project-Information-Div .Project-Information-Technologies p {
    font-size: 12px;
  }
}
.Project .Project-Information-Div .Project-Information-Button {
  margin-top: 40px;
  border: none;
  outline: none;
  border: 2px solid #f0db4f;
  background-color: Transparent;
  cursor: pointer;
  font-family: Righteous;
  font-size: 35px;
  color: #f0db4f;
  transition: 0.3s ease;
  width: 350px;
}
.Project .Project-Information-Div .Project-Information-Button:hover {
  background-color: #f0db4f;
  color: #92810c;
}
@media screen and (max-width: 400px) {
  .Project .Project-Information-Div .Project-Information-Button {
    margin-top: 10px;
    border: none;
    outline: none;
    border: 2px solid #f0db4f;
    background-color: Transparent;
    cursor: pointer;
    font-family: Righteous;
    font-size: 35px;
    color: #f0db4f;
    transition: 0.3s ease;
    width: 270px;
  }
}
.Project .Project-Information-Div-Hovered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f0db4f;
  transition-delay: 5000s;
  transition: 1s;
  opacity: 1;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .Project {
    position: relative;
    width: 100%;
    height: 50%;
  }
}
.Project-Modal-Hidden {
  display: none;
}

.Project-Modal-Visible {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(191, 191, 191, 0.5);
  z-index: 10;
  transition: 0.3s;
}
.Project-Modal-Visible .Project-Modal-Contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #00d2b7;
  color: #00342d;
  font-family: Varela Round;
  border-radius: 5px;
  padding-bottom: 35px;
}
.Project-Modal-Visible .Project-Modal-Contents .Project-Modal-Image {
  width: 800px;
  height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.Project-Modal-Visible .Project-Modal-Contents .Project-Modal-Name, .Project-Modal-Visible .Project-Modal-Contents .Project-Modal-Description, .Project-Modal-Visible .Project-Modal-Contents .Project-Modal-Technologies, .Project-Modal-Visible .Project-Modal-Contents .Project-Modal-Footer {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}
.Project-Modal-Visible .Project-Modal-Contents .Project-Modal-Name {
  margin-bottom: 0;
  font-size: 40px;
}
.Project-Modal-Visible .Project-Modal-Contents .Project-Modal-Footer {
  justify-content: space-between;
}
.Project-Modal-Visible .Project-Modal-Contents .Project-Modal-Footer .Project-Modal-Close {
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  background: Transparent;
  cursor: pointer;
}
.Project-Modal-Visible .Project-Modal-Contents .Project-Modal-Footer .Project-Modal-Icon {
  color: #00342d;
  margin-right: 20px;
}

.Project-Technology-Div {
  display: inline-block;
  padding: 0px 10px;
  border-width: 1px 3px 3px 1px;
  border-style: solid;
  border-color: #00342d;
  border-radius: 3px;
  box-shadow: 1px 1px 0 #00695b;
  margin: 3px;
}
.Project-Technology-Div .Project-Technology {
  color: #00342d;
  font-family: Righteous;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 1em;
}

.Contact {
  padding-top: 50px;
  background-color: #00695b;
  color: #00d2b7;
  font-family: Reem Kufi;
}
.Contact .Contact-Div {
  padding-bottom: 25px;
  border-radius: 8px;
}
.Contact .Contact-Div .Contact-Header {
  padding-bottom: 10px;
  font-size: 50px;
  margin: 0;
}
.Contact .Contact-Div .Contact-Alternate {
  color: #009c88;
  margin: 0;
}
.Contact .Contact-Div .Input-Field {
  color: #00d2b7;
  background-color: #00342d;
  width: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 70px;
  outline: none;
  border: none;
  border-radius: 3px;
  font-family: Fira Sans;
  font-size: 20px;
}
.Contact .Contact-Div .Input-Field::placeholder {
  color: #009c88;
  font-family: Fira Sans;
  font-size: 20px;
}
.Contact .Contact-Div .Input-Field:focus::placeholder {
  font-size: 10px;
  transition: all 0.225s ease;
}
.Contact .Contact-Div .Contact-Message-Text {
  height: 200px;
  text-align: left;
}
.Contact .Contact-Div .Contact-Button-Div {
  border: 2px solid #00d2b7;
  display: inline-block;
}
.Contact .Contact-Div .Contact-Button-Div .Contact-Button {
  border: none;
  outline: none;
  background-color: Transparent;
  cursor: pointer;
  font-family: Varela Round;
  font-size: 35px;
  color: #00d2b7;
  transition: 0.3s ease;
}
.Contact .Contact-Div .Contact-Button-Div .Contact-Button:hover {
  color: #00342d;
  background-color: #00d2b7;
  transition: 0.3s ease;
}

.Submit_Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  background-color: rgba(191, 191, 191, 0.5);
  z-index: 10;
  transition: 0.5s;
}
.Submit_Modal .Submit_Modal-Text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00d2b7;
  color: #00695b;
  border-radius: 8px;
  padding: 3%;
  width: 60%;
  font-size: 20px;
}
.Submit_Modal .Submit_Modal-Text .Submit_Modal-Button {
  margin-top: 5%;
  margin-bottom: 5%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  background-color: #00342d;
  color: #00d2b7;
  padding: 10px 20px;
  font-weight: 900;
}

.Footer {
  background-color: #00695b;
  padding-top: 25px;
  padding-bottom: 35px;
  color: #00d2b7;
}
.Footer .Footer-Icon {
  border: 3px solid #00d2b7;
  border-radius: 20%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  color: #00d2b7;
}
.Footer .Footer-Icon:hover {
  transition: 0.4s;
  color: #00342d;
  border: 3px solid #00342d;
  background-color: #00d2b7;
}
@media screen and (max-width: 430px) {
  .Footer .Footer-Icon {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 420px) {
  .Footer .Footer-Copyright {
    font-size: 11px;
  }
}

.Menu {
  position: fixed;
  height: 10px;
  width: 10px;
  bottom: 0;
  left: 0;
  z-index: 6;
  background-color: rgba(132, 167, 189, 0);
  transition: 0.5s;
}

.Menu-Load {
  background-color: #f0db4f;
  height: 102vh;
  width: 101vw;
  transition: 0.5s;
  position: fixed;
  border-top-right-radius: 20px;
}

.Burger-Menu {
  position: fixed;
  height: 10px;
  width: 10px;
  top: 0;
  right: 0;
  z-index: 6;
  background-color: rgba(132, 167, 189, 0);
  transition: 0.5s;
}

.Burger-Menu-Load {
  background-color: #f0db4f;
  height: 102vh;
  width: 101vw;
  transition: 0.5s;
  position: fixed;
  border-bottom-left-radius: 20px;
  top: 50;
  right: 50;
}

.X-Icon {
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  left: 7px;
  color: #92810c;
  transition: 0.2s;
}

.X-Icon:hover {
  color: #494006;
  transition: 0.2s;
}

.X-Burger-Icon {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 15px;
  color: #92810c;
  transition: 0.2s;
}

.X-Burger-Icon:hover {
  color: #494006;
  transition: 0.2s;
}

.Sandwich_Menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Sandwich_Menu-List {
  padding: 0;
}
.Sandwich_Menu-List .Sandwich-List-Item {
  color: #92810c;
  font-size: 30px;
  margin-top: 35px;
  font-family: Righteous;
  cursor: pointer;
  transition: 0.3s;
}
.Sandwich_Menu-List .Sandwich-List-Item:hover {
  color: #494006;
  font-size: 35px;
  transition: 0.3s;
}

.Absolute-Icons-Arrow-Up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  color: #00d2b7;
  transition: 1s;
}
.Absolute-Icons-Arrow-Up:hover {
  color: #f0db4f;
  transition: 0.3s;
}

.Absolute-Icons-Hamburger {
  position: fixed;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  color: #00d2b7;
  transition: 1s;
}
.Absolute-Icons-Hamburger:hover {
  color: #f0db4f;
  transition: 0.3s;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  text-align: center;
  color: #18252e;
  font-family: Lato;
  overflow-x: hidden;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

::selection {
  background-color: #7ae2dd;
  color: #18252e;
}

/*# sourceMappingURL=App.css.map */

/*# sourceMappingURL=App.css.map */
