.SkillzHeader{
  margin-top: 600px;
}

.FrontendSkills{
  border: 1px solid red;
  display: inline-block;
  margin: 50px 50px;
}

.JQuery-Icon{
  width: 20px;
  height: 20px;
}

.BackendSkills{
  border: 1px solid red;
  display: inline-block;
  margin: 50px 50px;
}

.ToolsSkills{
  border: 1px solid red;
  display: inline-block;
  margin: 50px 50px;
}

.DabbedThings{
  border : 1px solid red;
}
