.SkillzHeader{
  margin-top: 800px;
}

.FrontendSkills{

  display: inline-block;
  margin: 100px 100px;
}

.fa{
  color: #f64c72;
  width: 64px;
  height: 64px;
  margin: 10px;
}

.BackendSkills{
  display: inline-block;
  margin: 100px 100px;
}

.BackendSkills.fa{
  margin-bottom:100px;
}

.EJS{
  color: #f64c72;
}

.ToolsSkills{
  display: inline-block;
  margin: 100px 100px;
}

.DabbedThings{

}
