body{
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a{
  text-decoration: none;
}

.App {
  text-align: center;
}

.FrontendSkills{
  border: 1px solid red;
  display: inline-block;
  margin: 50px 50px;
}

.BackendSkills{
  border: 1px solid red;
  display: inline-block;
  margin: 50px 50px;
}

.ToolsSkills{
  border: 1px solid red;
  display: inline-block;
  margin: 50px 50px;
}

.DabbedThings{
  border : 1px solid red;
}
