body{
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a{
  text-decoration: none;
}

.App {
  text-align: center;
}

.Introduction{
  border: 1px solid red;
  width: 800px;
  float: right;
  margin-top: 250px;
}

.IntroductionName{
  margin: auto;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  Font-Size: 50px;
}

.TransitionAbout{
  margin-top: 100px;
}

.TransitionQuestion{
  margin: auto;
}


.TransitionNavbar{
  border: 1px solid red;
  display: inline-block;
}

.TransitionNavbar a{
  list-style-type: none;
  color : #99738E;
}

.TransitionQuestion{
  margin-left: 750px;
  border: 1px solid red;
  width: 200px;
}

.FrontendSkills{
  border: 1px solid red;
  display: inline-block;
  margin: 50px 50px;
}

.BackendSkills{
  border: 1px solid red;
  display: inline-block;
  margin: 50px 50px;
}

.ToolsSkills{
  border: 1px solid red;
  display: inline-block;
  margin: 50px 50px;
}

.DabbedThings{
  border : 1px solid red;
}
