body{
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a{
  text-decoration: none;
}

.App {
  text-align: center;
}

.header a{
  color: black;
}

.RightSideItems{
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 2.5rem;
  font-family: 'Prompt', sans-serif;
  float: right;
}

.Introduction{
  border: 1px solid red;
  width: 800px;
  float: right;
  margin-top: 250px;
}

.IntroductionName{
  margin: auto;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  Font-Size: 50px;
}

.TransitionAbout{
  float: right;
}

.TransitionNavbar{
  margin-top: 300px;
  margin-right: 1000px;
  border: 1px solid red;
}

.TransitionNavbar a{
  list-style-type: none;
  color : black;
}

.TransitionQuestion{
  margin-left: 750px;
  border: 1px solid red;
  width: 200px;
}
