li{
  display: inline;
}

body{
  background-color: #2F2FA2;
  font-family: 'Prompt', sans-serif;
}

.LeftSideItems{
  margin-left: 50px;
  margin-top: 50px;
  font-size: 50px;
  font-family: 'Prompt', sans-serif;
  float: left;
  color:#F64C72;
}

.RightSideItems{
  float: right;
  margin-right: 50px;
}

.TransitionNavbar{
  display: inline-block;
  margin-top: 50px;
}

.TransitionNavbar a{
  list-style-type: none;
  color : white;
  margin: 50px 50px;
  font-size: 30px;
  font-family: 'Prompt', sans-serif;
  text-transform: uppercase;
}

.Introduction{
  margin-top: 200px;
  float: left;
  margin-left: 50px;
}

.IntroductionName{
  margin: auto;
  font-family: 'Prompt', sans-serif;
  font-weight: 700;
  Font-Size: 50px;
  color:white;
}

.BurgerPosition{
  padding: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.HamburgerLines{
  width: 35px;
  height: 5px;
  background-color:#F64C72;
  margin: 6px 0;
}

.TransitionAbout{
  margin-top: 100px;
}

.TransitionQuestion{
  float: right;
  margin-right: 300px;
  margin-top: 225px;
}

.TransitionButton{
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  color: #F64C72;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: consolas;
}

.TransitionButton:hover{
  background: #F64C72;
  color: white;
  transition-delay: 0.2s;
  box-shadow: 0 0 10px #F64C72, 0 0 40px #F64C72, 0 0 10px #F64C72, 0 0 40px #F64C72;
}

.icon-tabler-arrow-up{
  padding: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
}
