@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* max-width: 50em; */
  overflow-x: hidden;
  color: #2f4858;
  font-family: Lato;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style-type: none;
}

.Header-Homepage {
  background: linear-gradient(130deg, #14bdad 50%, #7ae2dd 50%);
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-Logo {
  font-size: 100%;
  margin-left: 2%;
  margin-top: 1%;
}

.Header-Navbar {
  margin-right: 5%;
}

.Header-Unordered-List {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  margin-right: 5%;
}

.Header-Unordered-List li {
  text-align: center;
  margin-left: 45px;
}

.Header-Hamburger {
  display: none;
}

/* The flexbox navbar and the react version of it */
/* https://codepen.io/Sukhjinder-arora/pen/OZGomv?editors=1100 */
/* https://codepen.io/danbuda/pen/mAVALa */

.Homepage {
  margin-top: 5%;
}
.Homepage-Text-Div {
  display: grid;
  grid-template-columns: auto auto;
}

.Homepage-Grid {
  margin: 0;
  /* display: inline-flex; */
}

.Homepage-Greeting,
.Homepage-Name {
  display: flex;
  margin-left: 10%;
  font-size: 500%;
}

.Homepage-Description,
.Homepage-Technology {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.Homepage-Description {
  font-size: 400%;
}

@media screen and (max-width: 1100px) {
  .Homepage-Greeting,
  .Homepage-Name {
    font-size: 400%;
  }
  .Homepage-Description {
    font-size: 300%;
  }
}

@media screen and (max-width: 850px) {
  .Homepage-Greeting,
  .Homepage-Name {
    font-size: 300%;
  }
  .Homepage-Description {
    font-size: 200%;
  }
  .Header-Unordered-List {
    display: none;
  }
  .Header-Hamburger {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .Homepage-Greeting,
  .Homepage-Name {
    font-size: 250%;
  }
  .Homepage-Description {
    font-size: 150%;
  }
}

@media screen and (max-width: 470px) {
  .Homepage-Greeting,
  .Homepage-Name {
    font-size: 200%;
  }
  .Homepage-Description {
    font-size: 100%;
  }
}

.Homepage-Icons {
  margin-top: 5%;
}

.Homepage-Icon {
  margin-right: 25px;
  margin-left: 25px;
  color: #2f4858;
}

.Homepage-Identification-Div {
  /* margin-top: 5%;
  margin-bottom: 5%; */
  padding: 10%;
  padding-bottom: 20%;
}

.Homepage-Identification {
  outline: none;
  cursor: pointer;
  font-size: 20px;
  background-color: #14bdad;
  color: #2f4858;
  padding: 15px 30px;
  border: 5px solid #2f4858;
  font-weight: 900;
}

@media screen and (max-width: 1100px) {
  .Homepage-Identification-Div {
    padding-bottom: 35%;
    margin-top: 5%;
  }
  .Homepage-Icons {
    margin-top: 10%;
  }
}

@media screen and (max-width: 850px) {
  .Homepage-Identification-Div {
    padding-bottom: 65%;
    margin-top: 10%;
  }
  .Homepage-Icons {
    margin-top: 20%;
  }
}

@media screen and (max-width: 600px) {
  .Homepage-Identification-Div {
    padding-bottom: 85%;
  }
  .Homepage-Icons {
    margin-top: 30%;
  }
}

.About-Header {
  font-size: 150%;
}

.About-Statement-Div {
  margin: auto;
  width: 50%;
}

.About-Statement {
  text-align: justify;
}

.About-Technology-Button {
  margin-top: 10%;
  margin-bottom: 10%;
}

.Front-Back-Tool {
  display: flex;
  justify-content: space-evenly;
}

.Front-Back-Tool ul {
  padding-left: 0;
  list-style: none;
}

.Skills-Projects-Button-Div {
  margin-top: 10%;
  margin-bottom: 10%;
}

.Projects-One-Div {
  display: flex;
  justify-content: space-evenly;
}

.Projects-One-Description-Header,
.Projects-One-Description-Text,
.Projects-One-Stack-Header,
.Projects-One-Stack-Text {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 700px) {
  .Projects-One-Div {
    flex-direction: column;
  }
  .Projects-One-Description-Header,
  .Projects-One-Description-Text,
  .Projects-One-Stack-Header,
  .Projects-One-Stack-Text {
    display: flex;
    justify-content: center;
  }
}

.Learning {
  margin-top: 7%;
}

.Learning-Course-One {
  background-image: url(https://picsum.photos/300/200);
  display: inline-block;
  height: 200px;
  width: 300px;
  border-radius: 20px;
}

.Contact {
  margin-top: 7%;
}

.Footer {
  margin-top: 7%;
}

.Footer img {
  margin-left: 2%;
  margin-right: 2%;
}

.Absolute-Icons-Arrow-Up {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.Absolute-Icons-Hamburger {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
